<section class="flex items-center justify-center h-full">
  <article class="w-2/4 text-center">
    <p class="font-bold text-9xl">404</p>
    <p class="text-3xl font-bold">page not found</p>
    <img
      src="./assets/img/svg/bug.svg"
      alt="bug-image"
      width="300px"
      class="mx-auto mb-5" />
    <p class="text-xl font-light">
      If you are using an snapshot version or an alpha version, it is normal
      that there are modules with errors or that are not yet developed,
      otherwise we urge you to report the issue to add it to our pending tasks
      to be solved.
    </p>
  </article>
</section>
